/*-- for mobile ---*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
	h2 {
		margin-top: 70px;
		font-size: 5em;
	}
	.container-inner {
		padding: 20px;
    	width: 100%;
	}
	#counter {
		min-height: 95vh;
    	background-position: 90% 100%;
    	background-size: 1300px;
	}
	.counter-content {
		margin-bottom: 40px;
		padding: 0 20px;
		font-size: 4em;
	}
	.counter-content span:not(.clock-wrap){
		padding: 5px 10px;
		display: inline-block;
		min-width: 100px;
		line-height: normal;

	}
	#counter .counter-content span.clock-wrap {
		font-size: 36px;
		display: block;
	}
	#counter .counter-content span.clock-wrap span{
		min-width: 40px;
		margin-top: 20px;
		padding: 5px 10px;
		border-radius: 15px;
	}
	.wedding-wrap {
		border: 1px solid rgba(35, 82, 123, 0.2);
		padding: 0 20px;
	}
	.story-area-inner {
		display: block;
	}
	.story-image {
		height: 400px;
		background-size: cover;
    	background-position: bottom;
    	margin-right: auto;
    	margin-bottom: 50px;
	}
	.slider-blur-bg {
		width: 100%;
	}
	.slider-inner,.slider-outer {
		width: 750px; height: 600px;
	}
	.slider-wrap {
		margin-left: -20px;
	} 
	.jssora051 {
/*		display: none*/
	}
/*	.jssora051 .a {fill:none;stroke:#ffffff; }*/
}


@media only screen and (min-device-width: 320px) and (max-device-width: 500px) and (orientation:portrait) {
  .imageslider {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}


/*-- for tablet portrait--*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/*-- for tablet landscape--*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}
