
#home {
    
}
h2 {
    font-size: 6em;
    font-family: 'Sacramento', cursive;
    border-bottom: 1px dashed #aaa;
    line-height: 1;
    margin-bottom: 50px;
} 
h3 {
	font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 20px;
}
p,li {
    font-size: 1.5em;
    line-height: 2;
    font-family: 'Quicksand', sans-serif;
}
.container-inner {
    padding: 50px;
    margin: auto;
}
.nav-list-outer {
    position: fixed;
    z-index: 2;
    /* width: auto; */
    top: 10px;
    right: 10px;
    padding: 0;
	transition: all 0.5s ease-out;
}
.nav-list.nav-header-slider {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	min-width: 280px;
    background-color: #efefef;
    list-style: none;
    padding: 0;
	transition: all 0.5s ease-out;
}
li.nav-list-item a{
	color: #292929;
	display: block;
    padding: 5px 20px;
	text-decoration: none;
	transition: all 0.5s ease-out;
}
li.nav-list-item a::after{
	content: " ";
	display: block;
	width: 0%;
	transition: all 0.5s ease-out;
	margin: 0;
	border-bottom: 1px solid;
}
li.nav-list-item a:hover{
	margin-left: 10px
}
li.nav-list-item a:hover::after{
	width: 90%;
	margin-left: 15px;
/*	background-color: rgba(0,0,0,0.1);*/
}
.nav-button-mobile {
    display: block;
    height: auto;
    width: 60px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.4s;
    z-index: 3;
	padding: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.nav-button-mobile div {
    height: 1px;
    margin-bottom: 8px;
    background-color: #000;
    transition: all 0.4s ease-out;
    transform-origin: 50% 0;
}
.nav-button-mobile div:last-child {
	margin-bottom: 0;
}
.nav-button-mobile:hover {
	 background-color: #191919;
}
.nav-button-mobile:hover div {
	background-color: #fff;
}

.nav-list-outer.closed {
    width: 80px;
    height: 60px;
    overflow: hidden;
/*
    border-radius: 100px;
*/
}
.nav-list-outer.closed .nav-list.nav-header-slider{
	margin-left: 100%;
}


.nav-list-outer.open .nav-button-mobile{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	padding: 15px;
}
.nav-list-outer.open .nav-button-mobile div:first-child{
    opacity: 1;
    -webkit-transform:	rotate(-45deg) translate(-7px, 8px);
    transform: rotate(-45deg) translate(-7px, 8px);
}
.nav-list-outer.open .nav-button-mobile div:last-child{
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
    transform: rotate(45deg) translate(-4px, -6px);
}
.nav-list-outer.open .nav-button-mobile div{
	opacity: 0;
}



#home .welcome_slides {
    width: 100%;
    position: relative;
}

#home .welcome_slides .single_slide {
    height: 95vh;
    background-size: cover;
    background-position: center;
}

#home .welcome_slides  .slide-title {
    width: 40%;
    min-width: 300px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -20%);
    margin: auto;
    position: absolute;
}

.story-area-inner {
    display: flex;
}

.story-image {
    background-size: cover;
    background-position: center;
    margin-right: 50px;
}

.story-area-wrap {
    
}

.banner-title {
    text-align: center;
    font-size: 6em;
}

.count-area-wrap {
    background-size: cover;
}

#counter {
    min-height: 95vh;
	background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}


.counter-content {
    font-size: 5em;
    line-height: 1;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    margin-bottom: 80px;
}

.counter-content span:not(.clock-wrap) {
    border-radius: 20px;
	font-size: 1em;
    padding: 0 10px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-image: linear-gradient(to bottom right, #efefef, #d4d4d4);
}
.date-venue h3{
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Sacramento', cursive;
    color: #1280d4;
}

.date-venue .date,.time {
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 20px;
}
.date-venue .time {
    font-size: 3em;
}
.date-link:hover {
	text-decoration: none;
	border-bottom: 1px dotted #23527c;
}
.date-venue .wedding-wrap {
    padding: 30px; 
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.8);
}

.date-venue .venue a {
    color: #d2618e;
}

.date-venue .venue.wedding a .glyphicon {
	transition: all 0.5s;
    transform-origin: bottom;
}
.date-venue .venue.wedding a:hover .glyphicon {
    transform: scale(1.5);
}
.date-venue .venue.wedding .glyphicon {
	color: #ff3190;
}
.calender.button {
	padding: 10px 15px;
	display: block;
	margin: 5px 0;
	width: 200px;
	border-radius: 5px;
}
p.title-2 {
    line-height: normal;
    margin: 10px 0;
    text-decoration: underline;
}
p.title-desc {
    margin: 0;
    line-height: normal;
}
section#contact {
    padding: 50px;
    background-color: #222;
    color: #fff;
}
.footer-message {
	margin-top: 25px;
	font-size: 0.7em;
}
